header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2%;
    margin: 0 4% 0 4%;
    font-size: 110%;
}

body {
    font-family: 'Raleway', sans-serif;
    margin: 0 auto;
    font-size: 13px;
}

nav{
    margin-top: 15px;
    position: relative;
}

header nav a {
     text-decoration: none;
     color: black;
     padding: 30px;
     
}

nav a:hover{
     border-top: 3px solid #0065FC;
     padding-top: 40px;
     color: #0065FC;
 }

 /*texte trouvez votre herbergement*/
.recherche{
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0 4% 0 4%;

}
.recherche h1{
    font-weight:900;
    font-size: 150%;
    margin-bottom: 0;
}
.recherche p{
    font-size: 100%;
    font-weight: 500;
    margin-top: 5px;
}

/*barre de recherche*/
form {
    margin: 1px 0 1px 0;
    display: flex;
    justify-content: flex-start;
}

.map{
    padding: 15px;
    background-color: #f2f2f2;
    border-radius: 10px 0 0 10px;
    color: #000000;

}

input{
    height: 40px;
    width: 20%;
    padding: 0 0 0 1%;
    margin: 0;
    border: 1px solid #F2F2F2;
    font-size: 100%;
    font-family: 'Raleway', sans-serif;
}

input::placeholder{
    color: #0e0e0e;
    font-weight: 600;
    font-size: 15px;
}

button{
    font-size: 15px;
    font-weight: 900;
    height: 40px;
    width: 130px;
    padding: 10px;
    border-radius: 0 10px 10px 0;
    color: white;
    background-color: #0065FC;
    font-family: 'Raleway', sans-serif;
    border: none;
}


/*filtres*/

.filtres{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    height: 100px;
    width: 100%;
}
.filtres span{
    font-weight: 800;
    font-size: 15px;
    display: block;
}
.filtres div{
    border: 2px solid #F2F2F2;
    border-radius: 25px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 20px;
}

.filtres div span{
    font-weight: 900;
    font-size: 15px;
    margin-left: 15px;
    margin-right: 15px;
}

.filtres div:hover{
    background-color: #DEEBFF;
}

.filtres div:hover .icon{
    background-color: #0065FC;
    color: white;
}

.filtres div:hover .textfiltre{
    color: #0065FC;
}

.icon{
    height: 50px;
    width: 50px;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 50px;
    color: #0065FC;
    background-color: #DEEBFF;
}

/*point information logements*/
.infoLogements{
    font-weight: 500;
    font-size: 12px;
    color: #303030;
}

.rond{
    height: 14px;
    width: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
    padding: 1px;
    color: #0065FC;
    font-size: 10px;
    border: 1px solid #dfdfdf;
    border-radius: 100%;
}

.information{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    margin-top: 15px;
}



/*partie cartes herbergement */
.hebergement{
    display: flex;
    justify-content: space-between;
    margin: 30px 4% 0 4%;
}

.hebergement p{
    font-size: 14px;
    font-weight: 800;
   margin-bottom: 11px;
    width: fit-content;
}

.hebergement h2{
    font-size: 18px;
    margin: 10px 0 25px 0;
    width: fit-content;
}

.hebergement section{
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 514px;
    padding: 20px;
    margin-top: 10px;
    padding-top: 10px;
    background-color: #F2F2F2;
    border-radius: 15px;
    align-content: space-around;
}

.hebergement section .cartes{
    height: 425px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hebergement section .cartes div article{
    height: 190px;
    width: 30%;
    padding: 2px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border: 1px solid white;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 30%);
}

.hebergement section .cartes div{
    display: flex;
    justify-content: space-between;
}

.hebergement article a {
    text-decoration: none;
    color: #000000;
}

.hebergement a {
    text-decoration: none;
    color: #000000;
}

.cartes article img{
    height: 120px;
    width: 98%;
    margin-left: 2px;
    margin-top: 2px;
    border-radius: 10px 10px 0 0;
}

.cartes article h3{
    font-size: 14px;
    margin: 10px 0 5px 15px;
}


/*hebergement etoiles et description */
.bleu{
    color: #0065FC;
}
.grise{
    color: #F2F2F2;
}

.description{
    margin: 0 0 0 15px;
    font-size: 12px;
    font-weight: 500;
}
.etoiles{
    margin: 5px 0 0 15px;
    font-size: 10px;
    display: flex;
    justify-content: flex-start;
}

/*debut du aside pour la partie de droite les plus populaires*/

aside{
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2;
    width: 30%;
    padding: 20px;
    padding-top: 10px;
    margin-top: 10px;
}

aside div h2{
    font-size: 15px;
    margin: 0px 0 25px 0;
    width: fit-content;
}


.lespopulaires{
    flex-direction: row;
    align-items: center;
    font-family: 'Raleway', sans-serif;
    display: flex;
    align-content: center;
    justify-content: space-between;
    width: 95%;
}

aside div{
    justify-content: space-between;
    width: fit-content;
}

aside div article div{
    padding-left: 20px;
    padding-top: 3px;
    font-family: 'Raleway', sans-serif;
}

aside div article{
    height: 126px;
    display: flex;
    border-radius: 15px;
    padding: 4px;
    padding-right: 10px;
    margin: 11px;
    border: 1px solid white;
    background-color: white;
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 30%);
}

aside div article img{
    width: 45%;
    min-width: 45%;
    height: 126px;
    border-radius: 10px 0 0 10px;
}

aside div article h3{
    font-size: 14px;
    font-weight: 900;
    margin-top: 4px;
    margin-bottom: 10px;
    padding-right: 8px;
} 

aside div article span{
    font-size: 12px;
    font-weight: 400;
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

.fa-chart-line{
    font-size: 20px;
    display: inline-block;
    justify-content: space-between;
}

.etoiles_pop{
    display: flex;
    justify-content: flex-start;
    font-size: 10px;
    padding: 59px 0 2px 0;
    box-sizing: border-box;
}

.etoiles_popu{
    display: flex;
    justify-content: flex-start;
    font-size: 10px;
    padding: 27px 0 2px 0;
    box-sizing: border-box;
}


/* zone 1 activités 3 premieres cartes */

.activites{
    height: 517px;
    margin: -16px 4% 0 3.8%;
    padding: 0;
    width: auto;
}

.activites h2{
    font-size: 18px;
    margin: 70px 0 26px 0;
    margin-left: 3px;
}

.activites a {
    text-decoration: none;
    color: #000000;
}

.cartesactivites{
    display: flex;
    justify-content: space-between;
}

.zoneun, .zonedeux{
    width: 48%;
    display: flex;
    justify-content: space-between;
}

.cartevieuxport{
    height: 400px;
    width: 45%;
}

.petitescartes{
    height: 400px;
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cartefort{
    height: 210px;
}

.carteiles{
    height: 150px;
}  

.cartevieuxport, .cartefort, .carteiles, .cartedame, .carteparc{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 15px;
    box-shadow: 0 0 8px 0 rgb(0 0 0 / 25%);
}

.cartevieuxport:hover, .cartefort:hover, .carteiles:hover, .cartedame:hover, .carteparc:hover{
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 40%);
}
.activites article img{
    border-radius: 10px 10px 0 0;
}

.cartevieuxport img{
    height: 87%;
}

.cartefort img{
    height: 165px;  
}

.carteiles img{
    height: 104px;
}

.activites article h3{
    font-size: 14px;
    margin-left: 17px;
}

/* zone 2 activités 3 premieres cartes */

.cartedame{
    height: 210px;
}

.carteparc{
    height: 150px;
}

.cartedame img{
    height: 165px;
    width: 100%;
}

.carteparc img{
    height: 104px;
    width: 100%;
}
.cartedame h3, .carteparc h3{
    margin-top: 14px;
}


/* footer */
footer{
   /* width: 950px;
    margin: auto;*/
    display: flex;
    justify-content: space-between;
    padding: 19px 48px 15px 45px;
    background-color: #F2F2F2;
}
footer section{
    padding: 10px 10px;
    width: 30%;
}

footer section h2{
    margin-bottom: 10px;
    font-size: 16px;
}

footer section p{
    margin-top: 20px;
    width: fit-content;
}

/* media queries*/

@media screen and (max-width: 768px) {
    header img {
        padding-left: 150px;
    }

    header {
        display: block;
        width: 375px;
    }

    header nav {
        display: flex;
        justify-content: space-between;
        margin-top: 25px;
    }

    header nav a {
        padding: 0 0 20px 0;
        width: 50%;
        font-size: 18px;
        border-bottom: 3px solid #F2F2F2;
        text-align: center;
    }
    
    header nav a:hover {
        border-bottom: 2px solid #0065FC;
        border-top: none;
        padding-top: 0;
    }

    body{
        margin: 4px;
        width: 160px;
    }

    .recherche p {
        font-size: 15px;
        font-weight: 300;
        width: 350px;
    }

    .recherche {
        margin: 0 10px 0 10px;
        height: 500px;
    }

    .recherche h1{
        margin-top: 20px;
        width: 351px;
    }

    button{
        width: 55px;
        height: 50px;
        border-radius: 0 10px 10px 0;
        font-size: 9px;
        padding: 1px;
        border: none;
        text-align: center;
    }

    input{
        height: 50px;
        width: 263px;
        border: none;
    }

    form{
        border: 2px solid #F2F2F2;
        border-right: none;
        border-left: none;
        border-radius: 10px 10px 10px 10px;
        height: 50px;
        margin-top: 10px;
        margin-bottom: 30px;
        margin-left: 4px;
        width: 360px;
    }

    .map{
        height: 22px;
    }

    .filtres{
        height: 199px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
    }

    .filtres div{
        margin: 0;
    }

    .filtres span {
        font-size: 18px;
    }

    .filtres div span{
        margin-left: 11px;
    }

    .filtres .animaux{
        width: 204px;
        margin-top: 20%;
    }

    .infoLogements{
        font-size: 17px;
    }

    .information {
        margin-top: 23px;
        width: 351px;
    }

    .rond {
        height: 10px;
        width: 10px;
        font-size: 14px;
        padding: 10px;
    }


    .lespopulaires{
        flex-direction: row;
        align-items: center;
        font-family: 'Raleway', sans-serif;
        display: flex;
        align-content: center;
        justify-content: space-between;
        width: 315px;
    }


    aside{
        padding: 136px;
        padding-top: 15px;
        margin-top: -9px;
        padding-left: 30px;
        padding-right: 196px;
        flex-direction: column;
    }

    aside div {
        display: block;
        justify-content: space-between;
        flex-direction: column;
        width: 333px;
    }

    .hebergement{
        display: flex;
        flex-direction: column-reverse;
        margin: 0px;
    }

    .hebergement p{
        font-size: 15px;
        font-weight: 900;
        margin-bottom: 1px;
        width: fit-content;
        margin-left: 2px;
    }

    .hebergement section{
        padding: 30px;
        background-color: white;
        flex-flow: column;
        flex-direction: column;
        height: 1374px;
        width: 331px;
        padding-bottom: 44px;
    }

    .hebergement aside {
        width: 164px;
        margin-left: -4px;
        height: 415px;
    }

    .hebergement section .cartes div{
        flex-direction: column;
        margin: 0;
        justify-content: space-between;
        height: 650px;
        width: 100%;
    }

    .hebergement section .cartes{
        height: 1330px;
        width: 100%;
    }

    .hebergement section .cartes div article{
        width: auto;
        border: none;
        height: 200px;
        box-shadow: 0 0 8px 0 rgb(0 0 0 / 20%);
        margin-top: 21px;
    }

    .hebergement a {
        margin-bottom: -28px;
    }

    .etoiles_pop {
        padding: 45px 0 2px 0;
    }

    .cartes article img {
        height: 119px;
        width: 100%;
        margin: 0;
        border-radius: 12px 12px 0 0;
    }

    .cartes img {
        height: 119px;
        width: 100%;
        border-radius: 10px 10px 0 0;
    }
    
    .cartes article h3 {
        font-size: 16px;
        margin: 10px 0 5px 15px;
    }

    .description {
        font-size: 14px;
    }

    .activites{
        height: 593px;
        margin: -73px 9px 36px 27px;
        padding: 0;
        width: 331px;
    }

    .activités h2 {
        font-size: 18px;
        margin: 88px 0 26px 0;
        margin-left: 3px;
        font-weight: 900;
    }

    .activites article img {
        border-radius: 10px 10px 0 0;
        height: 149px;
    }

    .cartesactivites{
        flex-direction: column;
        display: inline-block;
        justify-content: space-between;
        width: 100%;
    }

    .zoneun, .zonedeux {
        height: 405px;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        margin-left: 10px;
        margin-bottom: 243px;
    }

    .cartevieuxport{
        height: 207px;
        width: 319px;
        margin-bottom: 20px;
    }

    .petitescartes{
        height: 207px;
        width: 319px;
    }

    .cartedame, .cartefort, .carteiles, .carteparc{
        margin-bottom: 25px;
        height: 226px;
    }

    .cartevieuxport img, .cartefort img, .carteiles img, .cartedame img, .carteparc img{
        height: 74%;
    }

    button span{
        display: none;
    }

    footer{
        display: flex;
        flex-direction: column;
        padding-top: 0px;
        padding-left: 10px;
        width: 333px;
        margin-top: 480%;
    }

    footer section{
        width: 80%;
    }

}
